In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import re

In [2]:
from wordcloud import WordCloud

In [3]:
import nltk.sentiment.vader

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [5]:
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer


english_stopwords = stopwords.words('english')

vect = CountVectorizer(stop_words = english_stopwords)

In [6]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\tobis\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [7]:
sid = SentimentIntensityAnalyzer()

In [8]:
df1 = pd.read_csv(r'C:\Users\tobis\Downloads\WPy64-3920\notebooks\SGE',header=None)
df2 = pd.read_csv(r'C:\Users\tobis\Downloads\WPy64-3920\notebooks\SGE_1',header=None)
df3 = pd.read_csv(r'C:\Users\tobis\Downloads\WPy64-3920\notebooks\SGE_2',header=None)
df4 = pd.read_csv(r'C:\Users\tobis\Downloads\WPy64-3920\notebooks\SGE_3',header=None)

In [9]:
df1.head()

,0,1,2,3
0,2022-02-16 20:55:37+00:00,b'@oliver_sge @Martin87325975 @Claudia77383293...,b'SaschaLakic',b''
1,2022-02-16 20:54:46+00:00,b'@SaschaLakic @Martin87325975 @Claudia7738329...,b'oliver_sge',b''
2,2022-02-16 20:52:29+00:00,b'@lukaasxn33 Endlich mal ein W',b'sge_paul',b'069'
3,2022-02-16 20:50:01+00:00,b'@Chris_76_SGE @BeateEi Es f\xc3\xbchlt sich ...,b'sge_bini',b'Rhein-Main-Gebiet'
4,2022-02-16 20:49:27+00:00,b'@BeateEi Ich werde berichten \xf0\x9f\x98\x8e',b'sge_bini',b'Rhein-Main-Gebiet'

In [10]:
df2.tail()

,0,1,2,3
4709,2022-02-11 05:07:32+00:00,b'@Linchen8763 @liavah1 @twKITAbot Ich versteh...,b'SGE_Melli',b'im sch\xc3\xb6nen Taunus '
4710,2022-02-11 05:05:09+00:00,b'@akieu_r sge thank u',b'Redluvseu',b'future single rich tita'
4711,2022-02-11 04:58:34+00:00,b'@CMoffiziell @jobbe2902 @RafaelBorre_ @SPORT...,b'sge_94',b''
4712,2022-02-11 04:47:53+00:00,b'@SGE_18052013 @SGEAston Und jetzt?',b'Trobbbyyy',b'386'
4713,2022-02-11 04:20:13+00:00,"b'@snkizeil sge po, thank u hejwkwhwuw'",b'kael_is_me',b'pjs'

In [11]:
df1.columns = ["Date", "Tweet", "User", "Location"]
df2.columns = ["Date", "Tweet", "User", "Location"]
df3.columns = ["Date", "Tweet", "User", "Location"]
df4.columns = ["Date", "Tweet", "User", "Location"]

In [12]:
len(df4)

5223

In [13]:
df1.dtypes

Date        object
Tweet       object
User        object
Location    object
dtype: object

In [14]:
import ast

In [15]:
df1['tweet'] = df1['Tweet'].apply(ast.literal_eval).str.decode("utf-8")
df2['tweet'] = df2['Tweet'].apply(ast.literal_eval).str.decode("utf-8")
df3['tweet'] = df3['Tweet'].apply(ast.literal_eval).str.decode("utf-8")
df4['tweet'] = df4['Tweet'].apply(ast.literal_eval).str.decode("utf-8")

In [16]:
df1.tail()

,Date,Tweet,User,Location,tweet
4937,2022-02-08 16:10:34+00:00,b'@Tabea_SGE_Maria Entt\xc3\xa4uschend',b'sge_paul',b'069',@Tabea_SGE_Maria EnttÃ¤uschend
4938,2022-02-08 16:06:03+00:00,b'@Zambrine5 @Chris_76_SGE @KOJAG Danke!',b'Juergens_Welt',b'Im Herzen von Europa',@Zambrine5 @Chris_76_SGE @KOJAG Danke!
4939,2022-02-08 16:05:38+00:00,b'Die #SGE bastelt flei\xc3\x9fig am Abwehr-Pu...,b'Transfermarkt',b'Hamburg',Die #SGE bastelt fleiÃŸig am Abwehr-Puzzle fÃ¼r ...
4940,2022-02-08 16:03:53+00:00,b'@KingK0alah sge inig 26 \xf0\x9f\xa4\xa9',b'kuhnemoto',"b'17 , she / her '",@KingK0alah sge inig 26 ðŸ¤©
4941,2022-02-08 16:00:18+00:00,"b'@Tabea_SGE_Maria Gude, als ob ich hier bin? ...",b'LeonGruen',"b'Hessen, Deutschland'","@Tabea_SGE_Maria Gude, als ob ich hier bin? HÃ¤..."

In [17]:
len(df2)

4714

In [18]:
df = df1.append(df2)
df = df.append(df3)
df = df.append(df4)

In [19]:
df = df.drop_duplicates(subset=['Date','Tweet'])

In [20]:
len(df)

11202

In [21]:
df['time'] = pd.to_datetime(df['Date'])#, format = '%y/%m/%d %H:%M:%S')

In [22]:
df['Date'] = pd.to_datetime(df['time']).dt.date

In [23]:
df['weekday'] = df['time'].dt.dayofweek
df['Hour'] = df['time'].dt.hour
df['Minute'] = df['time'].dt.minute

In [24]:
df.head()

,Date,Tweet,User,Location,tweet,time,weekday,Hour,Minute
0,2022-02-16,b'@oliver_sge @Martin87325975 @Claudia77383293...,b'SaschaLakic',b'',@oliver_sge @Martin87325975 @Claudia77383293 @...,2022-02-16 20:55:37+00:00,2,20,55
1,2022-02-16,b'@SaschaLakic @Martin87325975 @Claudia7738329...,b'oliver_sge',b'',@SaschaLakic @Martin87325975 @Claudia77383293 ...,2022-02-16 20:54:46+00:00,2,20,54
2,2022-02-16,b'@lukaasxn33 Endlich mal ein W',b'sge_paul',b'069',@lukaasxn33 Endlich mal ein W,2022-02-16 20:52:29+00:00,2,20,52
3,2022-02-16,b'@Chris_76_SGE @BeateEi Es f\xc3\xbchlt sich ...,b'sge_bini',b'Rhein-Main-Gebiet',@Chris_76_SGE @BeateEi Es fÃ¼hlt sich alles so ...,2022-02-16 20:50:01+00:00,2,20,50
4,2022-02-16,b'@BeateEi Ich werde berichten \xf0\x9f\x98\x8e',b'sge_bini',b'Rhein-Main-Gebiet',@BeateEi Ich werde berichten ðŸ˜Ž,2022-02-16 20:49:27+00:00,2,20,49

In [25]:
#Clean the text:

def cleanTxt(text):
    text = re.sub(r'@[A-Za-z0-9\_]+','',text) #Removes @ mentions
    text = re.sub(r'_[A-Za-z0-9\_]+','',text)
    text = re.sub(r'#','', text)
    text = re.sub(r'RT[\s]+','',text)
    text = re.sub(r'https?:\/\/\S+','',text) # Remove the hyper link
    return text

In [26]:
df['tweet']=df['tweet'].apply(cleanTxt)

In [27]:
from deep_translator import GoogleTranslator

In [28]:
df['translated_tweet'] = df['tweet'].apply(lambda x: GoogleTranslator(source='de', target='en').translate(x))

In [29]:
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer


english_stopwords = stopwords.words('english')

vect = CountVectorizer(stop_words = english_stopwords)

In [30]:
df['tweet_without_stopwords'] = df['translated_tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (english_stopwords)]))

In [31]:
df.to_csv('SGE_english_final.csv')